h1 {
    color: rgb(118, 16, 16);
    margin-left: 10px;
}

.post {
    background-color: rgb(181, 252, 252);
    color: black;
    margin: 10px 10px;
    padding : 15px;
    border: 3px solid black;
    border-radius: 10px;    
}

.btn {
    display: inline-block;
    color:black;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0px;
    margin-right: 20px;
    padding: 5px 20px;
}

.delete_button {
    background-color: red;
    color:white;
}

.delete_form {
    display: inline-block;
}

.edit_button {
    background-color: rgb(164, 253, 31);
    font-weight: 900;
}

.create_button, .submit_button {
    background-color: rgb(11, 244, 11);
    font-weight: 900;
    margin: 10px 10px;
    font-size: 20px;
}

.username {
    height: 20px;
    width: 310px;
    padding: 15px 5px;
    margin: 10px;
    display: block;
}

.form_content {
    display: block;
    padding: 15px 5px;
    margin: 10px;
}

a {
    text-decoration: none;
}

.post-details {
    margin: 10px;
}